{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style type="text/css">
  .row, .navbar .container-fluid { justify-content: center; }
  .bold {color: black !important; font-weight: bold;}
</style>

{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Create Account
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% endif %}  
          </h6>
          
          <br />

          <form role="form" method="post" action="" autocomplete="off" novalidate>
              
            {% csrf_token %} 

            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bold">{{form.username.label}}</label>
                    {{ form.username }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.username.errors.as_text }}</span>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bold">{{form.email.label}}</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors.as_text }}</span>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bold">{{form.password1.label}}</label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors.as_text }}</span>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bold">{{form.password2.label}}</label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password2.errors.as_text }}</span>


            <br />

            <button type="submit" name="register" class="btn btn-primary pull-left">Register</button>

            &nbsp; &nbsp; 
            

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
  $(document).ready(function () {
      $(".form-group").addClass("is-filled")
  });
</script>

{% endblock javascripts %}
